/* Controls */

.form-textbox {

	border: none !important;
	box-shadow: none !important;
	outline: none !important;
	border-radius: 0px !important;
	background-color: transparent !important;
	color: #333 !important;
	border-bottom: 1px solid rgba(0,0,0,.26) !important;
    width: 100%;
}
.transparent-button,
.transparent-button:hover {
	background-color: transparent;
    color: #fff;
	border: 1px solid #fff;
	box-shadow: none !important;
	outline: none !important;
	border-radius: 0px !important;
}
/* General Themes */

body {
    font-family: "Open sans", Helvetica, Arial;
}
.primary-color {
    color: #0d2240 !important;
}
.primary-back {
    background-color: #0d2240;
}
.primary-back-transparent {
    background-color: rgba(13,34,64, .75);
}
.primary-text-color {
    color: #333;
}
.secondary-color {
    color: #0091b3 !important;
}
.secondary-back {
    background-color: #0091b3;
}
.secondary-back:active,
.secondary-back:hover,
.secondary-back:focus {
    background-color: #0091b3;
}
.secondary-text-color {
    color: #999 !important;
}
.alert {
    color: #cc0000;
}
.third-back {
    background-color: #e5e5e5;
}
.dark-back {
    background-color: #333;
}
.transparent-back {
    background-color: transparent;
}
.light-text-color {
    color: #fff;
}
.green {
    color: #84db80;
}
.red {
    color: #ff7e7e;
}
.transparent-textbox {

	border: none !important;
	box-shadow: none !important;
	outline: none !important;
	border-radius: 0px !important;
	background-color: transparent !important;
	color: #fff !important;
	border-bottom: 2px solid rgba(255, 255, 255, .4) !important;
    width: 100%;
}

.textbox-error {
	border-bottom-color: red !important;
}
.textbox-filled {
	border-bottom-color: #fff !important;
}
.textbox-highlight {
    border-bottom-color: #0091b3 !important;
}
/* Element Themes */
.nav-bar-title {
    color: #fff;
}
.nav-icon {
    color: #fff;
}
.nav-text {
    color: #fff;
}
.card-body {
    background-color: #fff;
}
.toggle.toggle-primary input:checked + .track {
  border-color: #0d2240;
  background-color: #0d2240; 
}
.toggle.toggle-secondary input:checked + .track {
  border-color: #0091b3;
  background-color: #0091b3; 
}
.splash {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 9999;
    text-align: center;
    color: #fff;
}
    .splash i {
        font-size: 75px;
        position: relative;
        top: calc(50% - 38px);
    }
/* Overrides */
.checkbox.secondary-color-check input:checked:before, 
.checkbox.secondary-color-check input:checked + .checkbox-icon:before {
    background: #0091b3;
    border-color: #0091b3; /* override ionic radio color */
}